.Text {
  margin: 0;

  &--title-1 {
    font: 700 2.25rem/4.3125rem var(--font-family-heading);
  }

  &--title-2 {
    font: 600 1.75rem/2.25rem var(--font-family-heading);
  }

  &--title-3 {
    font: 600 1.5rem/1.2 var(--font-family-heading);
  }

  &--body-1 {
    font: 500 1rem/1.5rem var(--font-family-body);
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  &--body-2 {
    font: 400 0.875rem/1.25rem var(--font-family-body);
    font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  &--secondary {
    color: var(--secondary-color);
  }

  &--error {
    color: var(--error-color);
  }

  &--regular {
    font-weight: 400;
  }

  &--semibold {
    font-weight: 600;
  }
}
