.Total {
  border-radius: 1rem;
  flex-direction: column;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 8px 28px 0px #0000001f, 0px 2px 6px 0px #0000001f, 0px 0px 1px 0px #0000001f;
  grid-column: 3;
  align-self: start;
}

.Items {
  flex-direction: column;
  display: flex;
  gap: 0.3125rem;
}

.Item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0.25rem 0;
}

.ErrorIcon {
  fill: var(--error-color);
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: middle;
}
