.LoadingIcon {
  height: 1.5rem;
  width: 1.5rem;
  animation: rotate 1500ms infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.LoadingIconBgPath {
  stroke: var(--primary-color);
  stroke-opacity: 0.2;
}

.LoadingIconMainPath {
  stroke: var(--primary-color);
  stroke-linecap: round;
  animation: 1.5s ease-in-out infinite mainPathKeyframes;
}

@keyframes mainPathKeyframes {
  0% {
    stroke-dasharray: 1 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90 150;
    stroke-dashoffset: -16px;
  }
  100% {
    stroke-dasharray: 90 150;
    stroke-dashoffset: -64px;
  }
}
