@mixin font-smoothing {
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
