:root {
  // Colors
  --primary-color: #009de0;
  --secondary-color: #202125;
  --error-color: #f93a25;
  --border-color: #e4e4e5;

  // Fonts
  --font-family-heading: 'WoltHeading-Omnes', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Segoe UI', 'Arimo', 'Open Sans', sans-serif;
  --font-family-body: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Arimo', 'Open Sans',
    sans-serif;
}
