.FormLegend {
  text-transform: none;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  line-height: 2.25rem;
  font-family: 'WoltHeading-Omnes', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Arimo',
    'Open Sans', sans-serif;
  color: #202125;
}

.FormList {
  border: 2px solid #e4e4e5;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
}

.FormItem {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.FormItem:last-child hr {
  display: none;
}

.FormSeparator {
  border: none;
  border-top: 1px solid #e4e4e5;
  margin: 0;
  height: 0;
  margin-inline: 1rem;
}
