.Wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;

  &:last-of-type .FormSeparator {
    display: none;
  }
}

.Input {
  padding: 20px 50px;
  background: 0 0;
  font-size: 1rem;
  transition: border 0.2s linear;
  border: 2px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  color: var(--secondary-color);

  &:hover {
    border-color: var(--primary-color);
  }

  &:focus,
  &:not(:placeholder-shown) {
    padding-top: 28px;
    padding-bottom: 12px;
  }

  &:focus:enabled ~ .Label,
  &:not(:placeholder-shown) + .Label {
    transform: translateY(-11px) scale(0.75);
  }

  &:focus:enabled ~ .Label {
    color: var(--primary-color);
  }
}

.Label {
  top: 1.25rem;
  left: 3.25rem;
  right: 3.25rem;
  transition: transform 0.15s ease-in-out, color 0.15s linear;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  transform-origin: 0;
}

.Prefix {
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  inset-block-start: 1.5rem;
  inset-inline-start: 1rem;
}

.Postfix {
  justify-content: right;
  align-items: center;
  display: flex;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  left: auto;
  width: 1.5rem;
  height: 1.5rem;
}

.FormSeparator {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 0;
  height: 0;
}

.InputError {
  border-color: var(--error-color);

  & ~ .Label {
    color: var(--error-color);
  }
}

.Error {
  padding: 0.75rem 50px;
}
