.Title {
  text-transform: none;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  line-height: 4.3125rem;
  font-family: 'WoltHeading-Omnes', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Arimo',
    'Open Sans', sans-serif;
}
