@font-face {
  font-family: 'WoltHeading-Omnes';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/OmnesLatin-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'WoltHeading-Omnes';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/OmnesLatin-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'WoltHeading-Omnes';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/OmnesLatin-Bold.woff2') format('woff2');
}

:root {
  --wolt-heading-font-family: 'WoltHeading-Omnes', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Segoe UI', 'Arimo', 'Open Sans', sans-serif;
  --wolt-heading-font-feature-settings: 'kern', 'ss01', 'ss05', 'ss07';
}

html,
body {
  margin: 0;
  padding: 0;
}
